<div id="<%= dom_id application %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= application.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= application.company %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position url:</strong>
    <%= application.position_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= application.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= application.status %>
  </p>

</div>
