<% content_for :header do %>
  <div>
    <h1 class="text-3xl font-bold tracking-tight text-white"><%= @application.position %></h1>
    <p class="text-white/80"><%= @application.company %></p>
  </div>
  <div class="flex gap-4 items-center">
    <%= link_to "Back to applications",
    applications_path,
    class:
      "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium text-black" %>
  </div>
<% end %>

<% content_for :title do %>
  Applications |
  <%= @application.position %>
<% end %>

<div class="mx-auto w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p
        class="
          py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block
        "
        id="notice"
      ><%= notice %></p>
    <% end %>

    <%= render @application %>
  </div>
</div>
